DS/ArmyDANSTE/ArmyDANSTE/ArmyDANSTE/Connected Services/OldfactoryRefDANSTE/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OM.ModelDANSTE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OM.ModelDANSTE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tank">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Power" type="xs:int" />
      <xs:element minOccurs="0" name="Shield" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tank" nillable="true" type="tns:Tank" />
  <xs:complexType name="ArrayOfTank">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tank" nillable="true" type="tns:Tank" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTank" nillable="true" type="tns:ArrayOfTank" />
</xs:schema>