DS/ArmyDANSTE/ArmyDANSTE/ArmyDANSTE/Connected Services/OldfactoryRefDANSTE/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/IOldfactoryService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OM.ModelDANSTE" />
  <xs:element name="GetTank">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OM.ModelDANSTE" minOccurs="0" name="GetTankResult" nillable="true" type="q1:Tank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OM.ModelDANSTE" minOccurs="0" name="tank" nillable="true" type="q2:Tank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTankResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTanks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTanksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OM.ModelDANSTE" minOccurs="0" name="GetAllTanksResult" nillable="true" type="q3:ArrayOfTank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>